<section class="bg-[#d7b899] text-[#4e342e] py-16 px-4 text-center">
    <div class="max-w-4xl mx-auto">
        <h1 class="text-4xl md:text-5xl font-bold mb-4">Bienvenida a CosmeBelleza</h1>
        <p class="text-lg mb-6">Tu rincón de cuidado personal, belleza natural y bienestar</p>
        <a routerLink="/productos"
            class="inline-block bg-[#d7b899] hover:bg-[#c9a87d] text-black font-semibold py-3 px-6 rounded-lg shadow transition">
            Ver productos
        </a>
    </div>
</section>